body {
    /* background-color: #0e8ef1; */
    padding-bottom: 40px;

 }
.card{

    border: 2px solid white;
    box-shadow: 1px 1px 10px 10px #e0e3e5;
    border-radius: 5px;
    margin-bottom: 10px;
    min-height: 100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
       
    
}
.header{
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0e8ef1;
    margin-bottom: 20px;
    min-height: 60px;
    width: 100%;
    padding-top:10px;
    padding-left:20px;

}    
.title{
    text-align: center;
    color:blue;
}
.overlay{

    border: 2px solid white;
    box-shadow: 1px 1px 10px 10px #e0e3e5;
    border-radius: 5px;
    margin-bottom: 10px;
    min-height: 100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
       
}